
/* fonts */

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.noto-serif-normal {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}


/* color  */

.text-active{
    color: #252432;
}
.text-disable{
    color: #8987A1;
}
.banner-title-color{
    color: #E95A08;
}


/* Global Css */

body{
    margin: 0;
    padding: 0;
}

header, .banner, .Plant, .Lover, .Deals{
    max-width: 1140px;
    margin: 0 auto;
}
section{
    margin-top: 7.5rem;
}

/* Class CSS */

.header{
    display: flex;
    justify-content: space-between;
    margin-top: 1.8rem;
}
nav ul{
    display: flex;
    gap: 3rem;
}
nav ul li{
    list-style: none;
    
}
nav ul li a{
    text-decoration: none;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
} 

/* banner  */

.banner{
    display: flex;
    flex-direction: row-reverse;
    padding-top: 6.5rem;
}

.banner-title{
    font-weight: bold;
    font-size: 4rem;
    margin-bottom: 1rem;
}
.banner-dis{
    font-size: 1.4rem;
    color: rgba(0, 0, 0, 0.5);
}

/* Plants */

.Plant-content{
    text-align: center;
    margin-bottom: 3.1rem;
}

.Plant-title{
    font-weight: bold;
    font-size: 3.1rem;
    margin-bottom: 1rem;
}

.Plant-Cards{
    text-align: center;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 2rem;
    column-gap: 1.5rem;
}

.name{
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 150%;
    color: #111111;

}
.price{
    font-weight: bold;
    font-size: 1.5rem;
    line-height: 150%;
    color: #111111;

}
.btn{
    padding: 1.2rem 5rem;
    background-color: #E95A08;
    border: none;
    color: #FFFFFF;
    font-size: 1rem;
    font-weight: 600;
}

.name,.price{
    margin: .7rem;
}
.card-content{
    margin-top: 2rem;
    margin-bottom: 2rem;
}


/* Lover */

.trusted{
    width: 17.875rem;
    height: 17.875rem;
    position: absolute;
    top: -20%;
    
    right: 44%;
}




.Lover{
    display: flex;
    gap: 3.75rem;
    position: relative;
}
.lover-img{
    width: 100%;
}

.lover-content{
    padding-top: 2.4rem;
    padding-bottom: 2.4rem;
}
.lover-title{
    font-weight: bold;
    font-size: 3.1rem;
    margin: 0 0 20px 0;
}
.subtitle{
    color: rgba(0, 0, 0, 0.5);
    font-weight: 400;
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.join{
    background: url(../assets/news-letter-bg.png);
    background-size:cover;
    padding: 12.5rem 18.75rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    color: #FFFFFF;
}
.join-title{
    font-size: 3.125rem;
    font-weight: bold;
    margin: 0 0 1.5rem 0;
}

.search{
    display: inline-flex;
}
.input::placeholder{
    font-size: 1rem;
    color: rgba(0, 0, 0, 0.5);
    padding-left: 1.25rem;
}
.input{
    width: 40rem;
}


/* footer  */


footer{
    padding: 3.125rem 10rem;
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 6.8rem;
    align-items:start;
}
.footer-dis{
    color: rgba(0, 0, 0, 0.5);
    font-size: 1.4rem;
}

.column ul{
    padding-left: 0;
}

.column ul li{
    list-style: none;
    text-decoration: none;
    margin-bottom: 3rem;
    font-size: 1rem;
    line-height: 24%;
    
    
}

.column ul li a{
    text-decoration: none;
    color: #6B7280;
}
.footer-icon{
    display: flex;
}
.icon{
    width: 2rem;
    height: 2rem;
    margin-left: 1.5rem;
}


/* Deals  */

.Deals-card{
    display: grid;
    grid-template-columns: 23rem 47rem;
    gap: 1.75rem;
    height: 26.4rem;
}
.combaind{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1.5rem;
}

.opaciti{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.bloom, .ana, .zabo{
    background-repeat: no-repeat;
    background-size: cover ;
    border-radius: 1rem;
    color: #FFFFFF;
}

.bloom{
    background-image: url(../assets/deal-bloom.png);
}
.ana{
    background-image: url(../assets/deal-ana.png);
}
.zabo{
    background: rgba(0, 0, 0, 0.4) url(../assets/deal-zabo.png);
    /* padding: 10.75rem 8.125rem 9.375rem 8.125rem; */

}

.zabo-deal-title{
    font-size: 2.5rem;
    font-weight: bold;
    margin: 0;
}

.zabo-dis{
    font-size: 1.75rem;
    font-weight: 600;
}
.deal-title{
    font-size: 1.25rem;
    font-weight: bold;
    margin: 0;
}
.deal-dis{
    font-size: 1rem;
    font-weight: 600;
}
@media screen and (max-width:640px){
    .hide{
        display: none;
    }
    header, .banner-content, .Plant, .Lover{
        margin: 1rem;
    }
    .logo{
        width: 63px;
        height: 38px;
    }

    .banner {
        flex-direction: column;
        margin: 0;
        padding: 0;
    }
    .banner-title{
        font-size: 1.5rem;
    }
    .banner-dis{
        font-size: 1rem;
    }
    .Plant-Cards{
        grid-template-columns: repeat(2, 1fr);
    }
    .btn{
        padding: 1.4rem 2rem;
    }
    .name{
        font-size: 1rem;
    }
    .price{
        font-size: 1rem;
    }
    .card-img{
    width: 100%;
    }
    
    .Lover{
        flex-direction: column;
    }

    .join{
        padding: 6.8rem 2.25rem 4rem 2.25rem;
    }

    .join-title{
        font-size: 1.25rem;
        
    }
    .input{
        width: 13.6rem;
    }
    footer{
        grid-template-columns: repeat(1, 1fr);
        padding: 3.125rem 1.4rem ;
        gap: 0;
    }

    .Deals-card{
        grid-template-columns: 22.5rem;
        justify-content: center;
        height: 36.25rem;
        gap: 1.25rem;
    }
    .combaind{
        gap: 1.25rem;
    }

    .deal-title, .zabo-deal-title{
        font-size: 1.25rem;
    }
    .zabo-dis, .deal-dis{
        font-size: 1rem;
    }
    .bloom, .ana, .zabo{
        height: 11.25rem;
    }


}